$background-color-white: white;
$background-color-black: black;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  &--light{
    background: $background-color-white;
  }
  &--dark{
    color: $background-color-white;
    background: $background-color-black;
  }
}




li {
  list-style-type: none; /* Убираем маркеры */
}

.main-container{
  padding-left: 10%;
  padding-right: 10%;

}
